<div class="main-content">
    <div class="section-content sction-content-p30">
        <div class="container-fluid">

            <div *ngIf="orders.length > 0">

                <h1>Your Orders</h1>
                <br>

                <table class="table table-bordered">

                    <tr>
                        <th width="30%">Order Tracking Number</th>
                        <th width="15%">Total Price</th>
                        <th width="15%">Total Quantity</th>
                        <th width="25%">Date</th>
                        <th witdh="15%">Status</th>
                    </tr>

                    <tr *ngFor="let order of orders">

                        <td>
                            <h5>{{ order.orderTrackingNumber }}</h5>
                        </td>

                        <td>
                            <h5>{{ order.totalPrice | currency:'USD'}}</h5>
                        </td>
                        
                        <td>
                            <h5>{{ order.totalQuantity}}</h5>
                        </td>
                        
                        <td>
                            <h5>{{ order.date }}</h5>
                        </td>
                        
                        <td>
                            <h5>{{ order.status }}</h5>
                        </td>
                    
                    </tr>

                </table>
        
            </div>

            <div *ngIf="orders.length == 0" class="alert alert-warning col-md-12" role="alert">
                You haven't placed any orders yet.
            </div>

        </div>
    </div>
</div>
