table tr th {
    background-color: #303030;
    border: 2px solid #5f5f5f;
    font-weight: 500;
    color:#b7b7b7

}

table tr td{
  background-color: #303030;
  border: 2px solid #5f5f5f;
} 

h5 {
    color: white;
    font-weight: 400;
    font-size: 15px;
  }

